html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

/* --------General---------- */

.colored-section {
    background-color: #b2ebf2;
    padding: 2rem;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.colored-section-heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: 'Raleway', sans-serif;
}

.white-section {
    padding: 3rem;
    align-content: center;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.general-txt {
    font-size: 1.3rem;
}

.white-section-heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #77d8d8;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

/*------------ Home--------------- */

.navbar {
    padding: 0.2rem 3rem 0.2rem 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #e4e4e4;
    opacity: 1;
    z-index: 1;
    /* For shadow: */
    -webkit-box-shadow: 0 8px 3px -6px #999;
    -moz-box-shadow: 0 8px 3px -6px #999;
    box-shadow: 0 8px 3px -6px #999;
}

.top-section {
    background-attachment: fixed;
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: 100%;
    background-color: #b2ebf2;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bg.jpg); */
background-image: url(images/bg.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}



.top {
    margin-top: 8rem;
    font-size: 2.9rem;
    color: white;
    text-align: center;
}

#big-heading {
    font-size: 3rem;
    font-weight: 700;
}

#title {
    margin-bottom: 8rem;
    font-size: 1.8rem;
}

.contact-btn {
    margin-top: 2rem;
    opacity: 1;
}

/* ---------------About---------------- */

.profile-img {
    height: 10%;
    width: 20%;
    margin-bottom: 5%;
}

.features {
    margin-top: 3rem;
}

.icon {
    color: #b2ebf2;
}

/* ----------Youtube---------- */

#youtube {
    margin-bottom: 6rem;
    padding-top: 5rem;
    margin: 4rem auto 6rem auto;
}

.video {
    float: left;
}

#youtube-txt {
    margin-top: 7rem;
    float: right;
}


/* ---------Testimonials------ */

#testi {
    padding-bottom: 5rem;
    padding-top: 1rem;
}

.testi-text {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
}

.indicators {
    position: absolute;
    bottom: -50px;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}

/* -------------Footer------------------- */

footer {
    padding-top: 0.5rem;
    text-align: center;
    background-color: #b2ebf2;
}

.made-by {
    background-color: #77d8d8;
}

.made-by-txt {
    margin: 0;
    ;
}

.nav-item {
    background-color: white;
    color: black;
}


.nav-item:hover {
    background-color: #008CBA;
    color: white;
}